/* Section 1 - Global Settings */
/* Date Creation: 18-03-2017 | Date Modification: 24-03-2017 */

	/* Section 1.1 - Default font size, style, variant, weight and height.*/
	/* Date Creation: 18-03-2017 | Date Modification: 18-03-2017 */
	/* Source: http://www.cssfontstack.com/helvetica */

	h1, h3, p, pre, blockqoute {
		font-size: 14px;
		font-style: normal;
		font-variant: normal;
		font-weight: 400;
	}

	h1 {

		font-size: 24px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		line-height: 26.4px;
	}
	h3 {
		font-weight: 500;
		line-height: 15.4px;
	}
	p {
		line-height: 20px;
	}
	blockquote {
		font-size: 21px;
		line-height: 30px;
	}
	pre {
		font-size: 13px;
		line-height: 18.5714px;
	}
	/* End Section 1.1 */
* {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:0px;
	padding:0px;
}
body {
	background-image:url("../.././Project-Cinema7-img/background.jpg");
	background-repeat: no-repeat;
	background-size:cover;
}

header {
	width:1000px;
	height:75px;
	background-color:white;
	margin-left:auto;
	margin-right:auto;
}

nav {
	width: 1000px;
	height: 36px;
	Background-color: black;
	margin-left:auto;
	margin-right:auto;
}

main
{
	width: 960px;
	min-height:360px;
	padding:20px;
	Background-color: white;
	margin-bottom:10px;
}

.inheritHw {
	height: inherit;
	width: inherit;
}

.displayIflex {
	display: inline-flex;
}

.flexFlowr {
	flex-flow: column wrap;
}

.flexFlowc {
    flex-flow: row wrap;
}

.justifyContentsb{
	justify-content: space-between;
}

.justifyContentsa {
	justify-content: space-around;
}

.justifyContentc{
	justify-content: center;
}

/* Section 2 - homepage.php */
/* Date Creation: 18-03-2017 | Date Modification: 18-03-2017 */
#Logo
{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

#MenuWrapper
{
	
	width: 100%;
	height: 36px;
	Background-color: black;
}

#MainWrapper
{
	width:1000px;
	background-color:white;
	margin-left:auto;
	margin-right:auto;
}

#Banner
{
	background-image:url('../.././Project-Cinema7-img/header.jpg');
	width: 1000px;
	height: 140px;

}

/* Section 3 - menu.php */
/* Date Creation: 18-03-2017 | Date Modification: 24-03-2017 */

#navigationbarForm input {
	text-align: center;
	background: none;
	border: none;
	font-size: 15px;
	color: white;
	outline: none;
	cursor: pointer;
}

/* Section 4 - addDeleteorEditmovie.php */
/* Date Creation: 18-03-2017 | Date Modification: 24-03-2017 */
#new, #change{
	border: 1px solid orange;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
}
#new {
	background: orange;
}

#new input, #change input {
width: 169px;
}

/* Section 5 - orderList.php */
/* Date Creation: 18-03-2017 | Date Modification: 18-03-2017 */
#orderContent {
	margin-left: 10px;
}

/* Section 6 - availableMovies.php / expectedMovie.php */
/* Date Creation: 18-03-2017 | Date Modification: 24-03-2017 */
#main {
	margin-bottom: 50px;
	text-align: center;
}
#infoBar h4 {
	margin-left: 10px;
}

